<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="adminSource/css/font.css">
    <link rel="stylesheet" href="adminSource/css/xadmin.css">
    <script src="adminSource/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="adminSource/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="index">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="/userInfo">用户信息</a></li>
        <li class="layui-nav-item layui-this"><a href="/trainInfo">火车信息及修改</a></li>
        <li class="layui-nav-item"><a href="/routeInfo">线路信息</a></li>
        <li class="layui-nav-item"><a href="/allOrder">订单信息</a></li>
    </ul>


<div class="page-content-bg"></div>
<style id="theme_style"></style>
</body>
<script>
    layui.use('form', function () {
        var form = layui.form;
    });
</script>
</html>